{
  "iniSpaceAroundEquals": true,
  "overrides": [
    {
      "files": "*.plist",
      "options": {
        "parser": "xml",
        "useTabs": true
      }
    },
    {
      "files": ["*.service", "*.timer"],
      "options": {
        "iniSpaceAroundEquals": false,
        "parser": "ini"
      }
    }
  ],
  "printWidth": 100,
  "singleQuote": true
}
