[MAIN]
ignore=.git
ignore-patterns=.*\.pyi
jobs=0
load-plugins=pylint_quotes

[MESSAGES CONTROL]
disable=missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring,
        unspecified-encoding,
        use-dict-literal

[REFACTORING]
max-nested-blocks=6

[LOGGING]
logging-format-style=old
logging-modules=logging,
                loguru

[FORMAT]
expected-line-ending-format=LF

[SIMILARITIES]
ignore-imports=no

[BASIC]
class-attribute-naming-style=snake_case
good-names=_,
           b,
           d,
           e,
           f,
           fn,
           g,
           i,
           id,
           j,
           k,
           l,
           m,
           mc,
           n,
           r,
           ruTorrentClient,
           t,
           v,
           w,
           x,
           y,
           z,
include-naming-hint=yes
inlinevar-naming-style=snake_case

[DESIGN]
max-args=8
max-branches=15
max-locals=30
max-statements=80
