{
  "[python]": {
    "editor.tabSize": 4
  },
  "cSpell.ignoreWords": [
    "API's",
    "DONT",
    "SFTP",
    "Unexpectedru",
    "aheads",
    "attr",
    "authorises",
    "automodule",
    "benc",
    "chdir",
    "chmod",
    "cmds",
    "cond",
    "destroot",
    "dicttoolz",
    "dlstrat",
    "funcs",
    "functools",
    "functoolz",
    "fvalue",
    "genindex",
    "getcwd",
    "hmac",
    "htmlcov",
    "ismethod",
    "itertoolz",
    "listdir",
    "maxdepth",
    "mmtp",
    "modindex",
    "multirpc",
    "nargs",
    "netrc",
    "nsize",
    "objectdb",
    "paramiko",
    "preds",
    "psax",
    "pylint",
    "pytest",
    "rclient",
    "readv",
    "recurse",
    "repos",
    "ropeproject",
    "rtorrent",
    "rutorrent",
    "signum",
    "stringio",
    "struct",
    "syslog",
    "syslogh",
    "tadd",
    "toolz",
    "xirvik",
    "xmlrpc"
  ],
  "editor.insertSpaces": true,
  "editor.tabSize": 2,
  "python.formatting.provider": "yapf",
  "python.linting.flake8Enabled": false,
  "python.linting.pylintEnabled": true,
  "python.pythonPath": "/home/tatsh/.virtualenvs/xirvik-tools/bin/python",
  "restructuredtext.confPath": "${workspaceFolder}/doc"
}
