{
  "[python]": {
    "editor.tabSize": 4
  },
  "editor.insertSpaces": true,
  "editor.tabSize": 2,
  "python.formatting.provider": "yapf",
  "python.linting.flake8Enabled": false,
  "python.linting.pylintEnabled": true,
  "python.pythonPath": "/home/tatsh/.virtualenvs/xirvik-tools/bin/python",
  "restructuredtext.confPath": "${workspaceFolder}/doc"
}
