<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>sh.tat.XirvikStartTorrents</string>
    <key>ProgramArguments</key>
    <array>
      <string>FULL PATH TO Python 3, i.e /Users/tatsh/.virtualenvs/xirvik-tools/bin/python3</string>
      <string>FULL PATH TO xirvik, i.e /Users/tatsh/.virtualenvs/xirvik-tools/bin/xirvik</string>
      <string>rtorrent</string>
      <string>add</string>
      <string>HOSTNAME</string>
      <string>/FULL/PATH</string>
    </array>
    <key>StartInterval</key>
    <!-- Run every 2 minutes -->
    <integer>120</integer>
  </dict>
</plist>
